app:
  TimeZone: Asia/Tehran
  Port: "4444"
  Url: localhost
  GIN_MODE: debug
db:
  Sqlite:
    Name: Apis
grpc:
  Uri: "localhost"
  Port: "50051"
publicFiles:
  path: /home/soheil/go/OMPFinex/files/
